body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	border: none;
	padding: 0;
	margin: 0;
	position: relative;
}

body:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0.1;
    background-image: "@/assets/logo.svg";
	background-size: cover;
	background-position: bottom center;
}

.container {
	margin: 0;
}